[package]
name = "gravity"
version = "0.1.0"
edition = "2024"

[dependencies]
macroquad = "=0.4.8"
num-complex = "0.4.6"
rand = "0.9.0"

[profile.release]
opt-level = 3
lto = true
panic = "abort"
codegen-units = 1
strip = true
